<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 부여 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMAP_teamProject"
        tools:targetApi="31">
        <!-- 네트워크 보안 설정 추가 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Career.MyCareerActivity"
            android:exported="true"
            android:label="@string/title_activity_my_career"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Career.AddCareerActivity"
            android:label="@string/title_activity_add_career"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchPage.SearchResultsActivity" /> <!-- 추가된 부분; 전우성 -->
        <activity android:name=".menu.EventDetailActivity" />
        <activity android:name=".menu.ActivityDetailActivity" />
        <activity
            android:name=".TeamPage.AddPostActivity"
            android:label="@string/title_activity_add_post"/>

        <activity
            android:name=".TeamPage.TeamPageActivity"
            android:label="@string/title_activity_team_page"/>
        <activity
            android:name=".TeamPage.PostItemActivity"
            android:theme="@style/Theme.AMAP_teamProject.NoActionBar"
            android:label="@string/title_activity_post_item"/>
        <activity android:name=".ui.MyPage.UpdateUserInfoActivity"/>
    </application>

</manifest>